**/build/
**/out/
**/_build/
**/zephyr-out/

**/.west/
**/west/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Testing/

.ninja_deps
.ninja_log

*.elf
*.bin
*.hex
*.map
*.lst
*.d

*.o
*.obj
*.tmp

.vscode/
*.log
